

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}


.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image:url('../documentation/images/background.2.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: black;
}

.sfooter-content {
	flex: 1 0 auto;
}

.row {

}

.copyright {
	color: lightgray;
}

p {
	 font-family: 'Noto Sans', sans-serif;
	 color: ghostwhite;
 }

 h4 {
	 font-family: Monospaced, strong;
	 font-size: 21px;
	 color: ghostwhite;
	 text-align: center;
 }

 .well{
	 background-image:url('../documentation/images/blackandwhite.jpg');
 }

h1 {
	font-family: 'Noto Sans', sans-serif, strong;
	font-size: 44px;
	color: #43EDD7;
	border-color: black;
}

.form-group {
	color: ghostwhite;
}


.center_div {
	margin: 0 auto;
	width: 60%;
}

.foot-content {
	color: ghostwhite;
}

.g-recaptcha {
	;
}
