

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

h1 {
	font-family: 'Arimo', sans-serif, strong;
	color: teal;
}
.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image:url('../images/background.2.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: black;
}

.sfooter-content {
	flex: 1 0 auto;
}

.row {
	margin: 50px;
}

.copyright {
	color: lightgray;
}
 p {
	 font-family: 'Noto Sans', sans-serif;
 }

 h4 {
	 font-family: 'Noto Sans', sans-serif;
 }

 .well{
	 background-color: black;
 }

